body {
  font-family: Arial, sans-serif;
  background: #2d4492c2;
}

.container {
  width: 400px;
  margin: auto;
  padding: 20px;
  background: grey;
}

input,
textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

button {
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.list {
  margin-top: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}
